<div class="product-list-container">
  <p>Product List </p>

  <input type="text" [(ngModel)]="searchTerm" placeholder="Search products..." (input)="searchProducts()" />
  <input type="text" [(ngModel)]="productName" placeholder="Enter product name" />
  <input type="number" [(ngModel)]="productPrice" placeholder="Enter product price" />

  <button (click)="addProduct()">Add Product</button>
  <button (click)="clearAll()">Clear All</button>

  <ul>
    <li *ngFor="let product of filteredProductList">
      {{ product.name }} -- {{ product.price }}
      <button (click)="removeProduct(product)">Remove</button>
    </li>
  </ul>
</div>
