<nav>
  <ul>
    <li><a routerLink="">1.Student List</a></li>
    <li><a routerLink="employee-list">2.Employee List</a></li>
    <li><a routerLink="fruit-list">3.Fruit List</a></li>
    <li><a routerLink="course-list">4.Course List</a></li>
    <li><a routerLink="book-list">5.Book List</a></li>
    <li><a routerLink="city-list">6.City List</a></li>
    <li><a routerLink="movie-list">7.Movie List</a></li>
    <li><a routerLink="car-model-list">8.CarModel List</a></li>
    <li><a routerLink="product-list">9.Product List</a></li>
    <li><a routerLink="subject-list">10.Subject List</a></li>
    <li><a routerLink="country-list">11.Country List</a></li>
    <li><a routerLink="sports-list">12.Sports List</a></li>
    <li><a routerLink="vegetable-list">13.Vegetable List</a></li>
    <li><a routerLink="animal-list">14.Animal List</a></li>



  </ul>
</nav>
<router-outlet></router-outlet>
